@model IList<VendaDeAutomoveis.Entidades.Cliente>

<head>
    <title>Lista de Clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    @{
        Html.RenderPartial("_partial/_cabecalho_list");
    }

</head>
<body>

    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="page-title clearfix">
                <h2>
                    Clientes
                    <small>
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Clientes</li>
                            <li>/</li>
                            <li>Listar</li>
                        </ul>
                    </small>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Lista
                            </div>
                        </div>
                        <div class="widget-body">
                            <div id="dt_example" class="table-responsive example_alt_pagination">
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">RG</th>
                                            <th scope="col">CPF</th>
                                            <th scope="col">Data de Nascimento</th>
                                            <th scope="col">Tipo do Cliente</th>
                                            <th scope="col">E-mail</th>
                                            <th scope="col" class="hidden-phone">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr scope="row" class="gradeX">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RG)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CPF)
                                                </td>
                                                <td>
                                                    @item.Data_Nascimento.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.Tipo
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details", "Cliente", new { Id = item.Id })" title="Detalhes" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-search actions-icons">
                                                    </a>
                                                    <a href="@Url.Action("EditarCliente", "Cliente", new { Id = item.Id})" title="Editar" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-edit actions-icons">
                                                    </a>
                                                    @if (item.Venda == null && item.Custom == null)
                                                    {
                                                        <a href="javascript:confirmarDelete('@item.Id', '@item.Nome');" title="Excluir" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-trash actions-icons">
                                                            </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="@Url.Content("~/Scripts/Utils/ListarClientes.js")"></script>
<script src="~/Content/bootstrap/js/bootstrap.js"></script>
