@model VendaDeAutomoveis.Models.CadastrarVendaViewModel

<title>Cadastrar - Venda</title>

@{
    ViewBag.Title = "Cadastrar - Venda";
    //Html.RenderPartial("_partial/_cabecalho_principal");
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Venda
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Venda</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                AQUI VAI UMA IMAGEM
                                @*<img src="~/Content/bootstrap/img/ccn.png" />*@
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("Create", "Venda", FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.LabelFor(m => m.IdCliente, "Nome do Cliente*")
                                        @Html.DropDownListFor(m => m.IdCliente,
                                            new SelectList(Model.Clientes, "Id", "Nome"), "Nome do Cliente",
                                            new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.IdCliente)
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.LabelFor(m => m.IdVeiculo, "Modelo do Veículo*")
                                        @Html.DropDownListFor(m => m.IdVeiculo,
                                            new SelectList(Model.Veiculos, "Id", "Modelo"), "Modelo do Veículo",
                                            new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.IdVeiculo)
                                    </div>
                                </div>

                                Html.RenderPartial("_partial/_CreateEdit", Model);

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/bootstrap/js/bootstrap.js"></script>
<script src="@Url.Content("~/Scripts/Utils/CreateEditVenda.js")"></script>
<script src="@Url.Content("~/Scripts/Utils/Utils.js")"></script>
