@model VendaDeAutomoveis.Entidades.Venda

<br />
<br />
<br />
<br />

@using (Html.BeginForm("AdicionarVenda", "Venda", FormMethod.Post))
{

    @Html.LabelFor(m => m.IdCliente, "Nome do Cliente*")
    @Html.DropDownListFor(m => m.IdCliente,
        new SelectList(ViewBag.Cliente, "Id", "Nome"), "Nome do Cliente",
        new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdCliente)

    <br />

    @Html.LabelFor(m => m.IdVeiculo, "Modelo do Veículo*")
    @Html.DropDownListFor(m => m.Veiculo.Id,
        new SelectList(ViewBag.Veiculo, "Id", "Modelo"), "Modelo do Veículo",
            new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdVeiculo)

    <br />

    @Html.LabelFor(m => m.Valor, "Valor da Compra*")
    @Html.TextBoxFor(m => m.Valor, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Valor)

    <br />

    <div id="ViewParcialFormaDePagamento">

    </div>

    <br />

    @Html.LabelFor(m => m.Tipo_Entrega, "Tipo de Entrega*")
    @Html.EnumDropDownListFor(m => m.Tipo_Entrega, "Tipo de Entrega", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Tipo_Entrega)

    <br />

    <div id="viewParcialEndereco">

    </div>

    <br />
    @Html.LabelFor(m => m.Observacoes, "Observação*")
    @Html.TextBoxFor(m => m.Observacoes, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Observacoes)

    <br />

    <input type="submit" value="Vender" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">

        $(function () {

            @if (ViewBag.ExibirCampo != null)
            {
                @:PegarvalorEnderecoAjax();
            }
        });

        $('#Veiculo_Id').change(function () {
            obterValorVeiculo();
        });

        $('#Tipo_Entrega').change(function () {
            PegarvalorEnderecoAjax();
        });

        $('#IdCliente').change(function () {
            PegarvalorEnderecoAjax();
            obterFormaDePagamento();
        });

        function obterValorVeiculo() {
            $.ajax({
                url: '@Url.Action("PegarPrecoProduto")',
                type: "post",
                dataType: "html",
                data:
                {
                    idVeiculo: $("#Veiculo_Id").val()
                },
                success: function (data) {
                    $("#Valor").val(data);
                }
            });
        }

        function PegarvalorEnderecoAjax() {

            if ($("#IdCliente").val() != '' && $("#Tipo_Entrega").val() == 2) {
                $('#viewParcialEndereco').hide();
            }

            if ($("#IdCliente").val() != '' && $("#Tipo_Entrega").val() == 1) {
                $('#viewParcialEndereco').show();

                $.ajax({
                    url: '@Url.Action("PegarEndereco")',
                    type: "post",
                    dataType: "html",
                    data: { IdCliente: $("#IdCliente").val() },

                    success: function (data) {
                        $('#viewParcialEndereco').html(data);
                        $("#atualizar").click(function () {

                            AtualizarEnderecoAjax()
                        });
                    }
                });
            }
        }


        function AtualizarEnderecoAjax() {

            $.ajax({
                url: '@Url.Action("AtualizarEnderecos")',
                type: "post",
                dataType: "html",
                data: {
                    IdCliente: $("#IdCliente").val(),
                    Endereco: $("#Endereco").val(),
                    Bairro: $("#Bairro").val(),
                    NumeroDaCasa: $("#NumeroDaCasa").val(),
                    CEP: $("#CEP").val(),
                    Cidade: $("#Cidade").val(),
                    Estado: $("#Estado").val(),
                    Complemento: $("#Complemento").val()

                },
                success: function (data) {
                    alert("Endereço Alterado");
                }
            });
        }

        function obterFormaDePagamento() {
            $.ajax({
                url: '@Url.Action("PegarFormaDePagamento")', //Metodo da minha controller
                type: "post",
                dataType: "html",
                data: { IdCliente: $("#IdCliente").val() },

                success: function (data) {

                    $('#ViewParcialFormaDePagamento').html(data); //div para renderizar

                }
            });
        }

    </script>
}
