@*@model VendaDeAutomoveis.Entidades.Venda*@

@model VendaDeAutomoveis.Models.CadastrarVendaViewModel

<br />
<br />
<br />
<br />

@using (Html.BeginForm("AdicionarVenda", "Venda", FormMethod.Post))
{

    @Html.LabelFor(m => m.IdCliente, "Nome do Cliente*")
    @Html.DropDownListFor(m => m.IdCliente,
        new SelectList(Model.Clientes, "Id", "Nome"), "Nome do Cliente",
        new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdCliente)

    <br />

    @Html.LabelFor(m => m.IdVeiculo, "Modelo do Veículo*")
    @Html.DropDownListFor(m => m.IdVeiculo,
        new SelectList(Model.Veiculos, "Id", "Modelo"), "Modelo do Veículo",
            new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdVeiculo)

    <br />

    @Html.LabelFor(m => m.Valor, "Valor da Compra*")
    @Html.TextBoxFor(m => m.Valor, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Valor)

    <br />

    @Html.Partial("~/Views/Venda/partial/_PerformancesDisponiveisCliente.cshtml", Model)

    @*<div id="_PerformancesDisponiveisCliente">

    </div>*@

    <br />

   

    <div id="_ParcialViewFormaDePagamento">
         @Html.Partial("partial/_ParcialViewFormaDePagamento", Model)
    </div>

    <br />

    @Html.LabelFor(m => m.Tipo_Entrega, "Tipo de Entrega*")
    @Html.EnumDropDownListFor(m => m.Tipo_Entrega, "Tipo de Entrega", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Tipo_Entrega)

    <br />
    
    @Html.LabelFor(m => m.Status, "Status*")
    @Html.EnumDropDownListFor(m => m.Status, "Status", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Status)

    <br/>

    @*@Html.Partial("~/Views/Venda/partial/_ParcialviewEndereco.cshtml", Model)*@

    @*<div id="viewParcialEndereco">

    </div>*@

    <br />

    @Html.LabelFor(m => m.Observacoes, "Observação*")
    @Html.TextBoxFor(m => m.Observacoes, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Observacoes)

    <br />

    <input type="submit" value="Vender" />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">

        $(function () {

            @if (ViewBag.ExibirCampo != null)
            {
                @:pegarValorEndereco();
            }
        });

            $('#IdVeiculo').change(function () {
            obterValorVeiculo();
        });

        $('#Tipo_Entrega').change(function () {
            pegarValorEndereco();
        });

            $('#IdCliente').change(function () {
                pegarValorEndereco();
                obterInformacoesCliente();
        });

        function obterValorVeiculo() {
            $.ajax({
                url: '@Url.Action("ObterValorVeiculo")',
                type: "post",
                dataType: "html",
                data:
                {
                    idVeiculo: $("#IdVeiculo").val()
                },
                success: function (data) {
                    $("#Valor").val(data);
                }
            });
        }
            function pegarValorEndereco() {

                if ($("#IdCliente").val() != '' && $("#Tipo_Entrega").val() == 2) {
                    debugger;
                $('#viewParcialEndereco').hide();
            }

                if ($("#IdCliente").val() != '' && $("#Tipo_Entrega").val() == 1) {
                    debugger;
                $('#viewParcialEndereco').show();

                $.ajax({
                    url: '@Url.Action("ObterEnderecoCliente")',
                    type: "post",
                    dataType: "html",
                    data: { IdCliente: $("#IdCliente").val() },

                    success: function (data) {
                        $('#viewParcialEndereco').html(data);
                        $("#atualizar").click(function () {

                            AtualizarEndereco()
                        });
                    }
                });
            }
        }


        function AtualizarEndereco() {

            $.ajax({
                url: '@Url.Action("AtualizarEnderecos")',
                type: "post",
                dataType: "html",
                data: {
                    IdCliente: $("#IdCliente").val(),
                    Endereco: $("#Endereco").val(),
                    Bairro: $("#Bairro").val(),
                    NumeroDaCasa: $("#NumeroDaCasa").val(),
                    CEP: $("#CEP").val(),
                    Cidade: $("#Cidade").val(),
                    Estado: $("#Estado").val(),
                    Complemento: $("#Complemento").val()

                },
                success: function (data) {
                    alert("Endereço Alterado");
                }
            });
        }

            function obterInformacoesCliente() {

            $.ajax({
                url: '@Url.Action("ObterInformacoesBasicasCliente")', //Metodo da minha controller
                type: "POST",
                dataType: "html",
                data: { IdCliente: $("#IdCliente").val() },
                success: function (data) {
                    $('#_ParcialViewFormaDePagamento').html(data.FormasPagamentos); //div para renderizar
                    $('#_PerformancesDisponiveisCliente').html(data.Performances);
                }
            });
        }

        </script>
}
