@model List<VendaDeAutomoveis.Models.ListarVendasViewModel>

<head>
    <title>Lista de Vendas</title>

    @{
        Html.RenderPartial("_partial/_cabecalho_list");
    }

</head>
<body>

    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="page-title clearfix">
                <h2>
                    Clientes
                    <small>
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Vendas</li>
                            <li>/</li>
                            <li>Listar</li>
                        </ul>
                    </small>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Lista
                            </div>
                        </div>
                        <div class="widget-body">
                            <div id="dt_example" class="example_alt_pagination">
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">Cliente</th>
                                            <th style="width:20%">Veículo</th>
                                            <th style="width:20%">Modelo</th>
                                            <th style="width:10%">Ano</th>
                                            <th style="width:10%">Valor Veículo</th>
                                            <th style="width:10%" class="hidden-phone">Valor Total</th>
                                            <th style="width:10%" class="hidden-phone">Ação</th>                                       
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="gradeX">
                                                <td>
                                                    @item.Clientes.Nome
                                                </td>
                                                <td>
                                                    @item.Veiculos.Fabricante
                                                </td>
                                                <td>
                                                    @item.Veiculos.Modelo
                                                </td>
                                                <td>
                                                    @item.Veiculos.Ano.ToString()
                                                </td>
                                                <td>
                                                    @item.Vendas.Valor.ToString()
                                                </td>
                                                <td>
                                                    @item.Vendas.Valor.ToString()
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("detalhes-venda", "administrativo-vendas", new { id = item.Vendas.Id})" title="Detalhes" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-search actions-icons">
                                                    </a>
                                                    <a href="@Url.Action("EditarCliente", "Cliente", new { Id = item.Vendas.Id})" title="Editar" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-edit actions-icons">
                                                    </a>
                                                    @*<a href="@Url.Action("Delete", "Jogadores", new { Id = item.Vendas  .Id})" title="Excluir" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-trash actions-icons">
                                                    </a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
