@model IList<VendaDeAutomoveis.Entidades.Venda>

<br />
<br />
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr id="trs"> 
            <th>Cliente</th>
            <th>Veículo</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor do Veiculo</th>
            <th>Roda</th>
            <th>Aro</th>
            <th>Cor do Banco</th>
            <th>Modelo do Banco</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Cliente.Nome</td>
                <td>@m.Veiculo.Modelo</td>
                <td>@m.Valor.ToString("c")</td>
                @*<td>@m..ToString("dd/MM/yyyy")</td>*@
                <td>@m.Tipo_Entrega</td>
                <td>@m.FormaDePagamento.Modelo</td>            
                <td>@m.Observacoes</td>
            </tr>
        }
    </tbody>
</table>

<style>
    #trs th{
        width: 120px;
    }
</style>