@model VendaDeAutomoveis.Entidades.Performance

<head>
    @{
        ViewBag.Title = "Cadastrar - Custom";
    }
</head>


@using (Html.BeginForm("detalhes-cadastrar-custom", "administrativo/custom", FormMethod.Post, new { @id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Customizar Veículo
                            </div>
                        </div>
                        <div class="widget-body">
                            <div id="wizard">
                                <ol>
                                    <li>Roda</li>
                                    <li>Cor</li>
                                    <li>Banco</li>
                                    <li>Finish</li>
                                </ol>
                                <div>

                                    @Html.LabelFor(m => m.IdCliente, "Nome do Cliente*")
                                    @Html.DropDownListFor(m => m.IdCliente,
                                        new SelectList(ViewBag.Cliente, "Id", "Nome"), "Nome do Cliente",
                                        new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IdCliente)

                                    <br />

                                    @Html.Partial("_partial/_CreateRoda", Model.Roda)
                                </div>

                                <div>
                                    @Html.Partial("_partial/_CreateCor", Model.Cor_Veiculo)
                                </div>

                                <div>
                                    @Html.Partial("_partial/_CreateBanco", Model.Banco)
                                </div>

                                <div class="alert alert-block go-green-bg no-margin">
                                    <button data-dismiss="alert" class="close" type="button">
                                        ×
                                    </button>
                                    <h3 class="text-white">Você passou por todas as etapas de Customização!</h3>
                                    <p class="text-white">Se você tem certeza das customização colocada nas sessões anteriores e deseja encerrar, por favor, clique no botão abaixo de cor azul - "Cadastrar".</p>

                                    <br />

                                    <button type="button" id="btnConfirmarAlteracoes" class="btn btn-primary btn-lg">Cadastrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*//https://igorescobar.github.io/jQuery-Mask-Plugin/*@

<script src="~/Content/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/bootstrap/js/wysiwyg/bootstrap-wysihtml5.js"></script>
<script src="~/Content/bootstrap/js/wizard/bwizard.js"></script>
<script src="~/Content/bootstrap/js/custom-forms.js"></script>
<script src="~/Content/bootstrap/js/jquery.mask_igorescobar.js"></script>
<script src="@Url.Content("~/Scripts/Utils/CreateEditCustom.js")"></script>
<script src="@Url.Content("~/Scripts/Utils/Utils.js")"></script>

<script>

    //$(function () {
    //    $('.elementoValor').find('input').mask('#.##0,00', { reverse: true });
    //});
    
</script>
