@model VendaDeAutomoveis.Entidades.Performance

<head>
    @{
        ViewBag.Title = "Cadastrar - Custom";
    }
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Customizar Veículo
                            </div>
                        </div>
                        <div class="widget-body">
                            <div id="wizard">
                                <ol>
                                    <li>Roda</li>
                                    <li>Cor</li>
                                    <li>Banco</li>
                                    <li>Finish</li>
                                </ol>
                                <div>

                                    @Html.LabelFor(m => m.IdCliente, "Nome do Cliente*")
                                    @Html.DropDownListFor(m => m.IdCliente,
                                        new SelectList(ViewBag.Cliente, "Id", "Nome"), "Nome do Cliente",
                                        new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IdCliente)

                                    <br />

                                    @Html.Partial("_partial/_CreateRoda", Model.Roda)
                                </div>

                                <div>
                                    @Html.Partial("_partial/_CreateCor", Model.Cor_Veiculo)
                                </div>

                                <div>
                                    @Html.Partial("_partial/_CreateBanco", Model.Banco)
                                </div>

                                <div class="alert alert-block alert-success go-green-bg no-margin">
                                    <button data-dismiss="alert" class="close" type="button">
                                        ×
                                    </button>
                                    <h3 class="text-white">Você passou por todas as etapas de Customização!</h3>
                                    <p class="text-white">Se você tem certeza das customização colocada nas sessões anteriores e deseja encerrar, por favor, clique no botão abaixo de cor azul - "Cadastrar".</p>

                                    <br />

                                    <button type="button" id="btnConfirmarAlteracoes" class="btn btn-primary btn-lg">Cadastrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="~/Content/bootstrap/css/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet">
<link href="~/Content/bootstrap/css/wysiwyg/wysiwyg-color.css" rel="stylesheet">

<script src="~/Content/bootstrap/js/wysiwyg/wysihtml5-0.3.0.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.js"></script>
<script src="~/Content/bootstrap/js/wysiwyg/bootstrap-wysihtml5.js"></script>
<script src="~/Content/bootstrap/js/wizard/bwizard.js"></script>
<script src="~/Content/bootstrap/js/custom-forms.js"></script>

@*@section scripts{
        <script type="text/javascript" src="~/Views/Performance/js/customValidate.js"></script>
    }*@

<script>
    $('#btnConfirmarAlteracoes').click(function () {
        var isValid = validForm();

        if (isValid == false) {
            saveLead();
        }
        else {
            $('#modalConfirme').modal();
        }

    });

    var msgs = [];
    function validForm() {
        msgs = [];
        var campo;
        var isValid = true;

        campo = $("#IdCliente option:selected").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#IdCliente').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher com o nome do cliente.");
        } else {
            $('#IdCliente').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#RodaModelo').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#RodaModelo').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher com o Modelo do veículo.");
        } else {
            $('#RodaModelo').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#Aro').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#Aro').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o Aro.");
        } else {
            $('#Aro').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#RodaValor').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#RodaValor').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o valor da roda.");
        } else {
            $('#RodaValor').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $("#Estilo").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#Estilo').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário fornecer um estilo!");
        } else {
            $('#Estilo').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $("#CorRoda").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#CorRoda').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário fornecer uma cor para roda!");
        } else {
            $('#CorRoda').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#CorValor').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#CorValor').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o valor da cor.");
        } else {
            $('#CorValor').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $("#ModeloBanco option:selected").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#ModeloBanco').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o modelo do banco.");
        } else {
            $('#ModeloBanco').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $("#CorBanco option:selected").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#CorBanco').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher cor do banco.");
        } else {
            $('#CorBanco').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#BancoValor').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#BancoValor').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o valor do banco.");
        } else {
            $('#BancoValor').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        return isValid;
    }

    function saveLead() {
        var form = document.forms[0];
        if (validForm()) {
            form.submit();
        }
        else {
            var novoHTML = "";
            for (var i = 0; i < msgs.length; i++) {
                var msg = msgs[i];
                novoHTML += msg + "<br />";
            }
            $('#modalError .modal-body').html(novoHTML);
            $('#modalError').modal('show');
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    }

</script>