@model IList<VendaDeAutomoveis.Models.ListarPerformancesViewModel>

<br />
<br />
<br />
<br />

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>Nome</th>
            <th width="120px">CPF/MF</th>
            <th>Data de Nascimento</th>
            <th>Tipo do Cliente</th>
            <th>Banco Modelo</th>
            <th>Banco Cor</th>
            <th>Veiculo Cor</th>
            <th>Roda Aro</th>
            <th>Roda Cor</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cliente.Nome</td>
                <td>@item.Cliente.CPF</td>
                <td>@item.Cliente.Data_Nascimento</td>
                <td>@item.Cliente.Tipo</td>
                <td>@item.Banco.Modelo</td>
                <td>@item.Banco.CorBanco</td>
                <td>@item.Cor.Estilo</td>
                <td>@item.Roda.Aro</td>
                <td>@item.Roda.Cor</td>
                <td>@Html.ActionLink("Editar", "EditarCliente", new { Id = u.Id })</td>
            </tr>
        }
    </tbody>
</table>