@model VendaDeAutomoveis.Entidades.Veiculo

<br />

@Html.LabelFor(u => u.Fabricante, "Fabricante*")
@Html.TextBoxFor(u => u.Fabricante, new { @class = "form-control" })
@Html.ValidationMessageFor(u => u.Fabricante)

<br />

@Html.LabelFor(u => u.Modelo, "Modelo*")
@Html.TextBoxFor(u => u.Modelo, new { @id = "modelo", @class = "form-control" })
@Html.ValidationMessageFor(u => u.Modelo)

<br />

@{ 
    var anoAtual = DateTime.Now.Year;

    if(DateTime.Now.Month > 9)
    {
        anoAtual = DateTime.Now.Year + 1;
    }
}
<label for="disabledTextInput">Ano</label>
<input name="Ano" type="text" id="disabledTextInput" class="form-control" placeholder="@anoAtual" value="@anoAtual" disabled>
@Html.ValidationMessageFor(u => u.Ano)

<br />

@Html.LabelFor(u => u.QuantidadeDePortas, "Quantidade de Portas*")
@Html.TextBoxFor(u => u.QuantidadeDePortas, new { @id = "qtportas", @class = "form-control" })
@Html.ValidationMessageFor(u => u.QuantidadeDePortas)

<br />

@Html.LabelFor(u => u.Valor, "Valor*")
@Html.TextBoxFor(u => u.Valor, new { @class = "form-control" })
@Html.ValidationMessageFor(u => u.Valor)

<br />
