@model VendaDeAutomoveis.Entidades.Veiculo

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Fabricante, "Fabricante*")
        @Html.TextBoxFor(u => u.Fabricante, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Fabricante)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Modelo, "Modelo*")
        @Html.TextBoxFor(u => u.Modelo, new { @id = "modelo", @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Modelo)
    </div>
</div>

@{
    var anoAtual = DateTime.Now.Year;

    if (DateTime.Now.Month > 9)
    {
        anoAtual = DateTime.Now.Year + 1;
    }
}

<div class="form-group">
    <div class="col-md-3">
        <label for="disabledTextInput">Ano Fabricação*</label>
        @Html.TextBoxFor(u => u.Ano, new { id = "disabledTextInput",  @class = "form-control", placeholder = anoAtual, @Value = anoAtual, disabled = "disable" })
        @Html.ValidationMessageFor(u => u.Ano)
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        @Html.LabelFor(u => u.QuantidadeDePortas, "Quantidade de Portas*")
        <select class="form-control" data-val="true" data-val-number="The field Aro must be a number." data-val-required="O campo Quantidade De Portas é obrigatório." id="qtportas"
                name="QuantidadeDePortas" style="background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204);">
            <option>Selecione</option>
            <option value="3">3</option>
            <option value="5">5</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        @Html.LabelFor(model => model.Tipo, "Tipo*")
        @Html.EnumDropDownListFor(model => model.Tipo, "Selecione", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
    </div>
</div>

@Html.LabelFor(model => model.Valor, "Valor*")
<div class="form-group">
    <div class="input-group col-md-3">
        <span class="input-group-addon">R$</span>
        @Html.TextBoxFor(u => u.Valor, new { @class = "form-control valor" })
        <span class="input-group-addon">.00</span>
        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
    </div>
</div>

<script src="~/Content/bootstrap/js/jquery.mask_igorescobar.js"></script>

<script>
    $('.valor').mask('#.##0,00', { reverse: true });
</script>

