@model VendaDeAutomoveis.Models.CadastrarVendaViewModel

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(m => m.Valor, "Valor do Veículo*")
        @Html.TextBoxFor(m => m.Valor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Valor)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.Label("Custom Disponíveis*")
        @Html.DropDownListFor(c => c.Performance, new SelectList(Model.Performance, "Id", "ValorTotal"), "Customizações Disponíveis",
        new { @class = "form-control", @id = "customs" })
        @Html.ValidationMessage("FormaDePagamentoModel")
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.Label("Formas de Pagamentos*")
        @Html.DropDownListFor(a => a.IdFormaDePagamento, new SelectList(Model.FormasDePagamentos, "Id", "Modelo"), "Forma de Pagamento",
        new { @class = "form-control", @id = "formaPagamento" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(m => m.Tipo_Entrega, "Tipo de Entrega*")
        @Html.EnumDropDownListFor(m => m.Tipo_Entrega, "Tipo de Entrega", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tipo_Entrega)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(m => m.Status, "Tipo de Entrega*")
        @Html.EnumDropDownListFor(m => m.Status, "Tipo de Entrega", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Status)
    </div>
</div>

@*<div id="parcialEndereco">
        @Html.Partial("_partial/_ParcialviewEndereco", Model.Endereco)
    </div>*@

<div class="row">
    <div class="col-md-10">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    <span class="fs1" aria-hidden="true" data-icon="&#xe14c;">@Html.LabelFor(a => a.Observacoes)</span>
                </div>
            </div>
            <div class="widget-body">
                <div class="control-group">
                    <div class="wysiwyg-container">
                        <textarea id="wysiwyg" name="Observacoes" class="col-sm-10 no-margin" placeholder="Digite o texto ..." style="height: 140px">
                      </textarea>
                    </div>
                </div>
                <div class="control-group info no-margin">
                    <div class="controls">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
