@model VendaDeAutomoveis.Models.DetailsDeleteVendaViewModel

@Html.HiddenFor(item => Model.Cliente.Id)
@Html.HiddenFor(item => Model.Veiculo.Id)
@Html.HiddenFor(item => Model.Veiculo.Valor)
@Html.HiddenFor(item => Model.Performance.Id)
@Html.HiddenFor(item => Model.FormaDePagamento.Id)
@Html.HiddenFor(item => Model.Venda.Id)
@Html.HiddenFor(item => Model.Venda.Tipo_Entrega)
@Html.HiddenFor(item => Model.Venda.Status)
@Html.HiddenFor(item => Model.Venda.Observacoes)
@Html.HiddenFor(item => Model.Valor)

<tr>
    <td>
        <strong>Cliente</strong>
    </td>
    <td>
        <span class="label label-primary" style="font-size: 100% !important;">@Html.DisplayFor(item => Model.Cliente.Nome)</span>
    </td>
</tr>

<tr>
    <td>
        <strong>CPF</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Cliente.CPF)</td>
</tr>

<tr>
    <td>
        <span class="label label-success" style="font-size: 100% !important;">Veículo</span>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <strong>Fabricante</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Veiculo.Fabricante)</td>
</tr>

<tr>
    <td>
        <strong>Modelo</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Veiculo.Modelo)</td>
</tr>

<tr>
    <td>
        <span class="label label-success" style="font-size: 100% !important;">Pagamento</span>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <strong>Forma de Pagamento</strong>
    </td>
    <td>@Html.DisplayFor(item => item.FormaDePagamento.Modelo)</td>
</tr>


<tr>
    <td>
        <strong>Valor Total</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Venda.Valor)</td>
</tr>

<tr>
    <td>
        <strong>Valor Parcela</strong>
    </td>
    <td>
        @Html.DisplayFor(item => item.Venda.Parcela)
    </td>
</tr>


<tr>
    <td>
        <span class="label label-success" style="font-size: 100% !important;">Roda</span>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <strong>Modelo</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Roda.Modelo)</td>
</tr>

<tr>
    <td>
        <strong>Aro</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Roda.Aro)</td>
</tr>

<tr>
    <td>
        <strong>Cor</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Roda.Cor)</td>
</tr>

<tr>
    <td>
        <span class="label label-success" style="font-size: 100% !important;">Banco</span>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <strong>Modelo</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Performance.Banco.Modelo)</td>
</tr>

<tr>
    <td>
        <strong>Cor</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Performance.Banco.Cor)</td>
</tr>

<tr>
    <td>
        <strong>Multimidia</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Performance.Banco.Multimidia)</td>
</tr>

<tr>
    <td>
        <span class="label label-success" style="font-size: 100% !important;">Venda</span>
    </td>
    <td></td>
</tr>

<tr>
    <td>
        <strong>Observação</strong>
    </td>
    <td>@Html.DisplayFor(item => item.Venda.Observacoes)</td>
</tr>


