@model VendaDeAutomoveis.Models.CadastrarVendaViewModel


@Html.HiddenFor(u => u.IdCliente, new { @class = "form-control" })

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Endereco.EnderecoNome, "Endereço*")
        @Html.TextBoxFor(u => u.Endereco.EnderecoNome, new { @class = "form-control", id = "enderecoNome" })
        @Html.ValidationMessageFor(u => u.Endereco.EnderecoNome)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(u => u.Endereco.Numero, "Número da casa*")
        @Html.TextBoxFor(u => u.Endereco.Numero, new { @class = "form-control", id = "numero" })
        @Html.ValidationMessageFor(u => u.Endereco.Numero)
    </div>

    <div class="col-md-5">
        @Html.LabelFor(u => u.Endereco.Complemento, "Complemento*")
        @Html.TextBoxFor(u => u.Endereco.Complemento, new { @class = "form-control", id = "complemento" })
        @Html.ValidationMessageFor(u => u.Endereco.Complemento)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(u => u.Endereco.CEP, "CEP*")
        @Html.TextBoxFor(u => u.Endereco.CEP, new { @class = "form-control", id = "cep" })
        @Html.ValidationMessageFor(u => u.Endereco.CEP)
    </div>

    <div class="col-md-5">
        @Html.LabelFor(u => u.Endereco.Bairro, "Bairro*")
        @Html.TextBoxFor(u => u.Endereco.Bairro, new { @class = "form-control", id = "bairro" })
        @Html.ValidationMessageFor(u => u.Endereco.Bairro)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Endereco.Cidade, "Cidade*")
        @Html.TextBoxFor(u => u.Endereco.Cidade, new { @class = "form-control", id = "cidade" })
        @Html.ValidationMessageFor(u => u.Endereco.Cidade)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Endereco.Estado, "Estado*")
        @Html.TextBoxFor(u => u.Endereco.Estado, new { @class = "form-control", id = "estado" })
        @Html.ValidationMessageFor(u => u.Endereco.Estado)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        <input type="button" id="btnSalvarEndereco" value="Salvar" class="btn btn-default" />
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $("#cep").mask("99999-999");
        });
    </script>

}


