@model VendaDeAutomoveis.Entidades.Roda

@Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
<input type="text" id="RodaModelo" name="Roda.Modelo" class="form-control" data-val="true" data-val-required="O campo Valor é obrigatório.">
@Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

<br />

@Html.LabelFor(model => model.Aro, htmlAttributes: new { @class = "control-label col-md-2" })
<select class="form-control" data-val="true" data-val-number="The field Aro must be a number." data-val-required="O campo Aro é obrigatório." id="Aro" 
        name="Roda.Aro" style="background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204);">
    <option>Selecione</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
</select>

<br />

@Html.LabelFor(model => model.Cor, htmlAttributes: new { @class = "control-label col-md-2" })
@Html.EnumDropDownListFor(model => model.Cor, "Selecione", new { @class = "form-control", @id = "CorRoda" })
@Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })

<br />

<div class="form-group">
    @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2", @style = "float: none !important;" })
    <div class="input-group col-md-3 elementoValor" style="padding-left: 0;">
        <span class="input-group-addon">R$</span>
        <input type="text" id="RodaValor" name="Roda.Valor" class="form-control" data-val="true" data-val-required="O campo Valor é obrigatório.">
        <span class="input-group-addon">.00</span>
        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
    </div>
</div>