@model VendaDeAutomoveis.Entidades.Banco

<label class="control-label col-md-2">Com Multimidia?</label>
<input data-val-required="O campo Multimidia é obrigatório." id="Multimidia" name="Banco.Multimidia" type="checkbox" value="true">
@Html.ValidationMessageFor(model => model.Multimidia, "", new { @class = "text-danger" })

<br />
<br />

@Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
@Html.EnumDropDownListFor(model => model.Modelo, "Selecione", htmlAttributes: new { @class = "form-control", @id = "ModeloBanco" })
@Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

<br />

<label class="control-label col-md-2">Cor</label>
@Html.EnumDropDownListFor(model => model.Cor, "Selecione", htmlAttributes: new { @class = "form-control", @id = "CorBanco", @name = "Banco.CorBanco" })
@Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })

<br />

<div class="form-group">
    @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2", @style = "float: none !important;" })
    <div class="input-group col-md-3 elementoValor" style="padding-left: 0;">
        <span class="input-group-addon">R$</span>
        <input type="text" id="BancoValor" name="Banco.Valor" class="form-control" data-val="true" data-val-required="O campo Valor é obrigatório.">
        <span class="input-group-addon">.00</span>
    </div>
</div>
