@model VendaDeAutomoveis.Entidades.Banco

@*@Html.LabelFor(model => model.Multimidia, htmlAttributes: new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.Multimidia, new { htmlAttributes = new { @class = "form-control" } })
@Html.ValidationMessageFor(model => model.Multimidia, "", new { @class = "text-danger" })*@


<div class="widget-body" style="background-color: #f5f5f5">
    @Html.LabelFor(model => model.Multimidia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="enableSocialPosts" checked>
        <label class="onoffswitch-label" for="enableSocialPosts">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
</div>

<br />

@Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
@Html.EnumDropDownListFor(model => model.Modelo, htmlAttributes: new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })

<br />

@Html.LabelFor(model => model.CorBanco, htmlAttributes: new { @class = "control-label col-md-2" })
@Html.EnumDropDownListFor(model => model.CorBanco, htmlAttributes: new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.CorBanco, "", new { @class = "text-danger" })

<br />

<label style="float:none !important">Valor</label>
<div class="input-group" style="width: 30%">
    <span class="input-group-addon">R$</span>
    <input type="text" id="Valor" name="Banco.Valor" class="form-control" data-val="true" data-val-required="O campo Valor é obrigatório.">
    <span class="input-group-addon">.00</span>
    @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
</div>


@*@model VendaDeAutomoveis.Entidades.Banco

@{
    ViewBag.Title = "Passo3CadastroCor";
}

<h2>Passo3CadastroCor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(u => u.IdPerformance);

    <div class="form-horizontal">
        <h4>Banco</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Multimidia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Multimidia)
                    @Html.ValidationMessageFor(model => model.Multimidia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorBanco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.CorBanco)
                    @Html.ValidationMessageFor(model => model.CorBanco, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.Modelo)
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Valor)
                    @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/_partial/_btn_submit_salvar.cshtml")

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

