@model VendaDeAutomoveis.Entidades.Endereco

@Html.HiddenFor(u => u.IdCliente)

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.EnderecoNome, "Endereço")
        @Html.TextBoxFor(u => u.EnderecoNome, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.EnderecoNome)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(u => u.Numero, "Número da Casa")
        @Html.TextBoxFor(u => u.Numero, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Numero)
    </div>

    <div class="col-md-5">
        @Html.LabelFor(u => u.Complemento, "Complemento")
        @Html.TextBoxFor(u => u.Complemento, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Complemento)
    </div>
</div>

<div class="form-group">
    <div class="col-md-5">
        @Html.LabelFor(u => u.CEP, "CEP")
        @Html.TextBoxFor(u => u.CEP, new { id = "CEP", @class = "form-control" })
        @Html.ValidationMessageFor(u => u.CEP)
    </div>

    <div class="col-md-5">
        @Html.LabelFor(u => u.Bairro, "Bairro")
        @Html.TextBoxFor(u => u.Bairro, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Bairro)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Cidade, "Cidade")
        @Html.TextBoxFor(u => u.Cidade, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Cidade)
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(u => u.Estado, "Estado")
        @Html.TextBoxFor(u => u.Estado, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Estado)
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
